.view-content {
  flex: 1;

  display: flex;
  flex-direction: column;

  padding: 20px;
  border: 1px solid gray;

  overflow: scroll;
}
.msg {
  /* 英文长单词需要用这个来断句 */
  /* word-break: break-all; */
  /* word-wrap 无法断句长单词 */
  word-wrap: break-word;
  max-width: 80vw; /* 设置最大宽度，让长单词可以被断句  */

  padding: 10px;
  border: 1px solid gray;
  border-radius: 15px;

  filter: drop-shadow(0px 5px 1px rgba(0, 0, 0, 0.2));
}
.my-msg {
  align-self: flex-end;
  background-color: rgb(40, 139, 231);
  position: relative;
}
.other-msg {
  align-self: flex-start;
  background-color: rgb(233, 172, 39);
  position: relative;
}

.my-msg::after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: -2px;
  border: 10px solid transparent;
  border-left: 10px solid rgb(40, 139, 231);

  transform: rotate(-60deg);
}
.other-msg::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: -2px;
  border: 10px solid transparent;
  border-right: 10px solid rgb(233, 172, 39);

  transform: rotate(60deg);
}
